In [1]:
#IMPORTING THE PACKAGES REQUIRED 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
data=pd.read_csv(r"C:\Users\user\Downloads\Sales_add.csv")

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.shape

(22, 5)

The Sample size is less than 30 so we perform One tailed Paired Samples T-Test.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [7]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [8]:
#Clarifying whether there is any increase in sales after stepping into digital marketing.

# Perform paired t-test to determine significant difference in the mean
t_stat, p_val = stats.ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])
print(p_val)
if p_val < 0.05:
    result = "There is a significant increase in sales after stepping into digital marketing."
else:
    result = "There is no significant increase in sales after stepping into digital marketing."

print(result)

6.336667004575778e-11
There is a significant increase in sales after stepping into digital marketing.

We can infer from the results of the paired t-test that there has been a substantial rise in sales after using digital marketing at a significance level of 0.05. TheÂ low p-value offers compelling evidence against the null hypothesis, showing a statistically significant difference between the mean sales before and after the digital marketing campaign. This suggests that the business's investment in digital marketing has increased revenue.

In [9]:
#Checking whether there is any dependency between the features "Region" and "Manager."
# Create a contingency table
cont_tab = pd.crosstab(data['Region'], data['Manager'])
# Performing chi-square test of independence
cs_stat, p_val, _, _ = stats.chi2_contingency(cont_tab)
# Check the p-value
print(p_val)
if p_val < 0.05:
    res= "There is a significant dependency between Region and Manager."
else:
    res = "There is no significant dependency between Region and Manager."

print(res)

0.5493991051158094
There is no significant dependency between Region and Manager.

We do not have enough data to establish that there is a significant dependency between the Region and Manager variables based on the results of the chi-square test of independence with a significance threshold of 0.05. The p-value shows that random chance may be to blame for the observed disparities in the distribution of managers among areas. Since there is no evidence of a significant relationship between the region and manager variables in terms of the data distribution, we are unable to reject the null hypothesis of independence. This shows that the location of the manager's assignment does not appear to have an impact on their decision.

In [10]:
# Create a contingency table
cont_tab = pd.crosstab(data['Region'], data['Manager'])
print(cont_tab)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1